<launch>
  <node name="robot_kinematic_simulation" type="kinematic_simulation" pkg="robot_kinematic_simulation" output="screen">
    <rosparam command="load" file="$(find robot_kinematic_simulation)/config/params.yaml"/>
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    <remap from="joint_states" to="robot/joint_states" />
  </node>
</launch>
